html {
    background: url("/img/ticks.png") repeat fixed;
}

body {
/*    margin: 0;*/
}

a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 4px;
}

a:hover {
    background-color: rgba(0, 128, 0, 0.20);
}

.image {
    width: 100%;
    object-fit: cover;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position:fixed;
}

.mdl-tabs__panel {
    margin-bottom: 80px;
    width: 100%;
    padding: 40px;
    margin-left:250px;
}

.mdl-tabs__panel h6{
    margin:10px 0; 
}

.mdl-tabs__panel h5{
    padding:0px 0 20px 0;
    text-transform: uppercase;
}

.leftpadbox{
    padding:10px 0px 10px 40px; 
}

.title {
    padding: 40px 0 0 30px;
    font-size: 18pt;
    line-height: 36px;
    letter-spacing: 4px;
}

.subtitle {
    padding: 20px 0 30px 30px;
    font-size: 12pt;
    letter-spacing: 2px;
    width: 220px;
    border-bottom: 1px solid rgba(10, 11, 49, 0.20);
    margin-bottom: 30px;

}

.vertical-mdl-tabs .mdl-tabs__tab-bar {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: inherit;
    border-bottom: none;
    border-right: 1px solid rgba(10, 11, 49, 0.20);

}

.vertical-mdl-tabs .mdl-tabs__tab {
    width: 100%;
    height: 46px;
    font-size: 10pt;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-weight: 3;
    color:black;
}

.vertical-mdl-tabs .mdl-tabs__tab_portfolio {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-size: 10pt;
    padding: 30px 0px 30px 30px;
    color: black;
    font-weight: 400;
    background: none;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
    border-right: 3px solid green;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    content: inherit;
    height: 0;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
    text-align: left;
    padding-left: 30px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: green;
}

.iconrow a:hover{
    background:none;
}

.fab {
    padding: 10px;
 }

.fab:hover {
    color: green;
}

#footer {
    position: fixed;
    bottom: 100px;
    height: 35vh;
    opacity: 0.5;
    z-index:-1;
}