body {
  background: rgb(219, 219, 219);
  text-align: center;
  color: #333333;
}

#box1{
  width: 700px;
  height: 700px;
  top: 25px;
  margin: auto;
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dac0cc+0,744058+50,642e47+51,a27c8e+100 */
  background: rgb(218,192,204); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(218,192,204,1) 0%, rgba(116,64,88,1) 50%, rgba(100,46,71,1) 51%, rgba(162,124,142,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(218,192,204,1) 0%,rgba(116,64,88,1) 50%,rgba(100,46,71,1) 51%,rgba(162,124,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(218,192,204,1) 0%,rgba(116,64,88,1) 50%,rgba(100,46,71,1) 51%,rgba(162,124,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dac0cc', endColorstr='#a27c8e',GradientType=1 ); IE6-9 fallback on horizontal gradient
}

#box2{
  width: 650px;
  height: 650px;
  border: solid 2px rgba(245, 245, 245, 0.555);
  position: relative;
  margin: 0 auto;
  top: 25px;
}

#circle{
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: auto;
  top:20px; 
  /* border: 1px solid gray; */
}

#sketch {
  height: 600px;
  width: 600px;
  clip-path: circle(300px at center);
}



